function Outro.draw 0
push constant 19051
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19052
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19053
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19054
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19055
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19056
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19057
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19058
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19059
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19060
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19061
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19083
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19084
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19085
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19086
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19087
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19088
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19089
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19090
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19091
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19092
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19093
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19115
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19116
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19117
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19118
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19119
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19120
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19121
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19122
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19123
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19124
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19125
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 19147
push constant 7
call Memory.poke 2
pop temp 0
push constant 19148
push constant 0
call Memory.poke 2
pop temp 0
push constant 19149
push constant 0
call Memory.poke 2
pop temp 0
push constant 19150
push constant 0
call Memory.poke 2
pop temp 0
push constant 19151
push constant 0
call Memory.poke 2
pop temp 0
push constant 19152
push constant 0
call Memory.poke 2
pop temp 0
push constant 19153
push constant 0
call Memory.poke 2
pop temp 0
push constant 19154
push constant 0
call Memory.poke 2
pop temp 0
push constant 19155
push constant 0
call Memory.poke 2
pop temp 0
push constant 19156
push constant 0
call Memory.poke 2
pop temp 0
push constant 19157
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19179
push constant 7
call Memory.poke 2
pop temp 0
push constant 19180
push constant 0
call Memory.poke 2
pop temp 0
push constant 19181
push constant 0
call Memory.poke 2
pop temp 0
push constant 19182
push constant 0
call Memory.poke 2
pop temp 0
push constant 19183
push constant 0
call Memory.poke 2
pop temp 0
push constant 19184
push constant 0
call Memory.poke 2
pop temp 0
push constant 19185
push constant 0
call Memory.poke 2
pop temp 0
push constant 19186
push constant 0
call Memory.poke 2
pop temp 0
push constant 19187
push constant 0
call Memory.poke 2
pop temp 0
push constant 19188
push constant 0
call Memory.poke 2
pop temp 0
push constant 19189
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19211
push constant 7
call Memory.poke 2
pop temp 0
push constant 19212
push constant 0
call Memory.poke 2
pop temp 0
push constant 19213
push constant 0
call Memory.poke 2
pop temp 0
push constant 19214
push constant 0
call Memory.poke 2
pop temp 0
push constant 19215
push constant 0
call Memory.poke 2
pop temp 0
push constant 19216
push constant 0
call Memory.poke 2
pop temp 0
push constant 19217
push constant 0
call Memory.poke 2
pop temp 0
push constant 19218
push constant 0
call Memory.poke 2
pop temp 0
push constant 19219
push constant 0
call Memory.poke 2
pop temp 0
push constant 19220
push constant 0
call Memory.poke 2
pop temp 0
push constant 19221
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19243
push constant 7
call Memory.poke 2
pop temp 0
push constant 19244
push constant 0
call Memory.poke 2
pop temp 0
push constant 19245
push constant 0
call Memory.poke 2
pop temp 0
push constant 19246
push constant 0
call Memory.poke 2
pop temp 0
push constant 19247
push constant 0
call Memory.poke 2
pop temp 0
push constant 19248
push constant 0
call Memory.poke 2
pop temp 0
push constant 19249
push constant 0
call Memory.poke 2
pop temp 0
push constant 19250
push constant 0
call Memory.poke 2
pop temp 0
push constant 19251
push constant 0
call Memory.poke 2
pop temp 0
push constant 19252
push constant 0
call Memory.poke 2
pop temp 0
push constant 19253
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19275
push constant 7
call Memory.poke 2
pop temp 0
push constant 19276
push constant 0
call Memory.poke 2
pop temp 0
push constant 19277
push constant 0
call Memory.poke 2
pop temp 0
push constant 19278
push constant 0
call Memory.poke 2
pop temp 0
push constant 19279
push constant 0
call Memory.poke 2
pop temp 0
push constant 19280
push constant 0
call Memory.poke 2
pop temp 0
push constant 19281
push constant 0
call Memory.poke 2
pop temp 0
push constant 19282
push constant 0
call Memory.poke 2
pop temp 0
push constant 19283
push constant 0
call Memory.poke 2
pop temp 0
push constant 19284
push constant 0
call Memory.poke 2
pop temp 0
push constant 19285
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19307
push constant 7
call Memory.poke 2
pop temp 0
push constant 19308
push constant 0
call Memory.poke 2
pop temp 0
push constant 19309
push constant 0
call Memory.poke 2
pop temp 0
push constant 19310
push constant 0
call Memory.poke 2
pop temp 0
push constant 19311
push constant 0
call Memory.poke 2
pop temp 0
push constant 19312
push constant 0
call Memory.poke 2
pop temp 0
push constant 19313
push constant 0
call Memory.poke 2
pop temp 0
push constant 19314
push constant 0
call Memory.poke 2
pop temp 0
push constant 19315
push constant 0
call Memory.poke 2
pop temp 0
push constant 19316
push constant 0
call Memory.poke 2
pop temp 0
push constant 19317
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19339
push constant 7
call Memory.poke 2
pop temp 0
push constant 19340
push constant 0
call Memory.poke 2
pop temp 0
push constant 19341
push constant 0
call Memory.poke 2
pop temp 0
push constant 19342
push constant 0
call Memory.poke 2
pop temp 0
push constant 19343
push constant 0
call Memory.poke 2
pop temp 0
push constant 19344
push constant 0
call Memory.poke 2
pop temp 0
push constant 19345
push constant 0
call Memory.poke 2
pop temp 0
push constant 19346
push constant 0
call Memory.poke 2
pop temp 0
push constant 19347
push constant 0
call Memory.poke 2
pop temp 0
push constant 19348
push constant 0
call Memory.poke 2
pop temp 0
push constant 19349
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19371
push constant 7
call Memory.poke 2
pop temp 0
push constant 19372
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19373
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19374
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19375
push constant 1985
neg
call Memory.poke 2
pop temp 0
push constant 19376
push constant 31745
neg
call Memory.poke 2
pop temp 0
push constant 19377
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19378
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 19379
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19380
push constant 62
call Memory.poke 2
pop temp 0
push constant 19381
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19403
push constant 7
call Memory.poke 2
pop temp 0
push constant 19404
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19405
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19406
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19407
push constant 1985
neg
call Memory.poke 2
pop temp 0
push constant 19408
push constant 31745
neg
call Memory.poke 2
pop temp 0
push constant 19409
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19410
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 19411
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19412
push constant 62
call Memory.poke 2
pop temp 0
push constant 19413
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19435
push constant 7
call Memory.poke 2
pop temp 0
push constant 19436
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19437
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19438
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19439
push constant 1985
neg
call Memory.poke 2
pop temp 0
push constant 19440
push constant 31745
neg
call Memory.poke 2
pop temp 0
push constant 19441
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19442
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 19443
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19444
push constant 62
call Memory.poke 2
pop temp 0
push constant 19445
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19467
push constant 7
call Memory.poke 2
pop temp 0
push constant 19468
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19469
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19470
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19471
push constant 1985
neg
call Memory.poke 2
pop temp 0
push constant 19472
push constant 31745
neg
call Memory.poke 2
pop temp 0
push constant 19473
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19474
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 19475
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19476
push constant 62
call Memory.poke 2
pop temp 0
push constant 19477
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19499
push constant 7
call Memory.poke 2
pop temp 0
push constant 19500
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19501
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19502
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19503
push constant 1985
neg
call Memory.poke 2
pop temp 0
push constant 19504
push constant 31745
neg
call Memory.poke 2
pop temp 0
push constant 19505
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19506
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 19507
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19508
push constant 62
call Memory.poke 2
pop temp 0
push constant 19509
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19531
push constant 7
call Memory.poke 2
pop temp 0
push constant 19532
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19533
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19534
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19535
push constant 0
call Memory.poke 2
pop temp 0
push constant 19536
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19537
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19538
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19539
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19540
push constant 63
call Memory.poke 2
pop temp 0
push constant 19541
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19563
push constant 7
call Memory.poke 2
pop temp 0
push constant 19564
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19565
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19566
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19567
push constant 0
call Memory.poke 2
pop temp 0
push constant 19568
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19569
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19570
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19571
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19572
push constant 63
call Memory.poke 2
pop temp 0
push constant 19573
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19595
push constant 7
call Memory.poke 2
pop temp 0
push constant 19596
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19597
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19598
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19599
push constant 0
call Memory.poke 2
pop temp 0
push constant 19600
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19601
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19602
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19603
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19604
push constant 63
call Memory.poke 2
pop temp 0
push constant 19605
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19627
push constant 7
call Memory.poke 2
pop temp 0
push constant 19628
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19629
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19630
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19631
push constant 0
call Memory.poke 2
pop temp 0
push constant 19632
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19633
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19634
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19635
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19636
push constant 63
call Memory.poke 2
pop temp 0
push constant 19637
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19659
push constant 7
call Memory.poke 2
pop temp 0
push constant 19660
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19661
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19662
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19663
push constant 0
call Memory.poke 2
pop temp 0
push constant 19664
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19665
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19666
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19667
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19668
push constant 63
call Memory.poke 2
pop temp 0
push constant 19669
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19691
push constant 7
call Memory.poke 2
pop temp 0
push constant 19692
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19693
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19694
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19695
push constant 0
call Memory.poke 2
pop temp 0
push constant 19696
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19697
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19698
push constant 8184
call Memory.poke 2
pop temp 0
push constant 19699
push constant 0
call Memory.poke 2
pop temp 0
push constant 19700
push constant 62
call Memory.poke 2
pop temp 0
push constant 19701
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19723
push constant 7
call Memory.poke 2
pop temp 0
push constant 19724
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19725
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19726
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19727
push constant 0
call Memory.poke 2
pop temp 0
push constant 19728
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19729
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19730
push constant 8184
call Memory.poke 2
pop temp 0
push constant 19731
push constant 0
call Memory.poke 2
pop temp 0
push constant 19732
push constant 62
call Memory.poke 2
pop temp 0
push constant 19733
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19755
push constant 7
call Memory.poke 2
pop temp 0
push constant 19756
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19757
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19758
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19759
push constant 0
call Memory.poke 2
pop temp 0
push constant 19760
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19761
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19762
push constant 8184
call Memory.poke 2
pop temp 0
push constant 19763
push constant 0
call Memory.poke 2
pop temp 0
push constant 19764
push constant 62
call Memory.poke 2
pop temp 0
push constant 19765
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19787
push constant 7
call Memory.poke 2
pop temp 0
push constant 19788
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19789
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19790
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19791
push constant 0
call Memory.poke 2
pop temp 0
push constant 19792
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19793
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19794
push constant 32760
call Memory.poke 2
pop temp 0
push constant 19795
push constant 0
call Memory.poke 2
pop temp 0
push constant 19796
push constant 62
call Memory.poke 2
pop temp 0
push constant 19797
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19819
push constant 7
call Memory.poke 2
pop temp 0
push constant 19820
push constant 15872
call Memory.poke 2
pop temp 0
push constant 19821
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19822
push constant 3971
call Memory.poke 2
pop temp 0
push constant 19823
push constant 0
call Memory.poke 2
pop temp 0
push constant 19824
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19825
push constant 15887
call Memory.poke 2
pop temp 0
push constant 19826
push constant 32760
call Memory.poke 2
pop temp 0
push constant 19827
push constant 0
call Memory.poke 2
pop temp 0
push constant 19828
push constant 62
call Memory.poke 2
pop temp 0
push constant 19829
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19851
push constant 7
call Memory.poke 2
pop temp 0
push constant 19852
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 19853
push constant 8161
neg
call Memory.poke 2
pop temp 0
push constant 19854
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19855
push constant 63
call Memory.poke 2
pop temp 0
push constant 19856
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19857
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19858
push constant 1800
neg
call Memory.poke 2
pop temp 0
push constant 19859
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19860
push constant 63
call Memory.poke 2
pop temp 0
push constant 19861
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19883
push constant 7
call Memory.poke 2
pop temp 0
push constant 19884
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 19885
push constant 8161
neg
call Memory.poke 2
pop temp 0
push constant 19886
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19887
push constant 63
call Memory.poke 2
pop temp 0
push constant 19888
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19889
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19890
push constant 1800
neg
call Memory.poke 2
pop temp 0
push constant 19891
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19892
push constant 63
call Memory.poke 2
pop temp 0
push constant 19893
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19915
push constant 7
call Memory.poke 2
pop temp 0
push constant 19916
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 19917
push constant 8185
neg
call Memory.poke 2
pop temp 0
push constant 19918
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19919
push constant 63
call Memory.poke 2
pop temp 0
push constant 19920
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19921
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19922
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19923
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19924
push constant 63
call Memory.poke 2
pop temp 0
push constant 19925
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19947
push constant 7
call Memory.poke 2
pop temp 0
push constant 19948
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 19949
push constant 8185
neg
call Memory.poke 2
pop temp 0
push constant 19950
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19951
push constant 63
call Memory.poke 2
pop temp 0
push constant 19952
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19953
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19954
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19955
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19956
push constant 63
call Memory.poke 2
pop temp 0
push constant 19957
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 19979
push constant 7
call Memory.poke 2
pop temp 0
push constant 19980
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 19981
push constant 8185
neg
call Memory.poke 2
pop temp 0
push constant 19982
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19983
push constant 63
call Memory.poke 2
pop temp 0
push constant 19984
push constant 32737
neg
call Memory.poke 2
pop temp 0
push constant 19985
push constant 16383
call Memory.poke 2
pop temp 0
push constant 19986
push constant 7944
neg
call Memory.poke 2
pop temp 0
push constant 19987
push constant 125
neg
call Memory.poke 2
pop temp 0
push constant 19988
push constant 63
call Memory.poke 2
pop temp 0
push constant 19989
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20011
push constant 7
call Memory.poke 2
pop temp 0
push constant 20012
push constant 0
call Memory.poke 2
pop temp 0
push constant 20013
push constant 0
call Memory.poke 2
pop temp 0
push constant 20014
push constant 0
call Memory.poke 2
pop temp 0
push constant 20015
push constant 0
call Memory.poke 2
pop temp 0
push constant 20016
push constant 0
call Memory.poke 2
pop temp 0
push constant 20017
push constant 0
call Memory.poke 2
pop temp 0
push constant 20018
push constant 0
call Memory.poke 2
pop temp 0
push constant 20019
push constant 0
call Memory.poke 2
pop temp 0
push constant 20020
push constant 0
call Memory.poke 2
pop temp 0
push constant 20021
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20043
push constant 7
call Memory.poke 2
pop temp 0
push constant 20044
push constant 0
call Memory.poke 2
pop temp 0
push constant 20045
push constant 0
call Memory.poke 2
pop temp 0
push constant 20046
push constant 0
call Memory.poke 2
pop temp 0
push constant 20047
push constant 0
call Memory.poke 2
pop temp 0
push constant 20048
push constant 0
call Memory.poke 2
pop temp 0
push constant 20049
push constant 0
call Memory.poke 2
pop temp 0
push constant 20050
push constant 0
call Memory.poke 2
pop temp 0
push constant 20051
push constant 0
call Memory.poke 2
pop temp 0
push constant 20052
push constant 0
call Memory.poke 2
pop temp 0
push constant 20053
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20075
push constant 7
call Memory.poke 2
pop temp 0
push constant 20076
push constant 0
call Memory.poke 2
pop temp 0
push constant 20077
push constant 0
call Memory.poke 2
pop temp 0
push constant 20078
push constant 0
call Memory.poke 2
pop temp 0
push constant 20079
push constant 0
call Memory.poke 2
pop temp 0
push constant 20080
push constant 0
call Memory.poke 2
pop temp 0
push constant 20081
push constant 0
call Memory.poke 2
pop temp 0
push constant 20082
push constant 0
call Memory.poke 2
pop temp 0
push constant 20083
push constant 0
call Memory.poke 2
pop temp 0
push constant 20084
push constant 0
call Memory.poke 2
pop temp 0
push constant 20085
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20107
push constant 7
call Memory.poke 2
pop temp 0
push constant 20108
push constant 0
call Memory.poke 2
pop temp 0
push constant 20109
push constant 0
call Memory.poke 2
pop temp 0
push constant 20110
push constant 0
call Memory.poke 2
pop temp 0
push constant 20111
push constant 0
call Memory.poke 2
pop temp 0
push constant 20112
push constant 0
call Memory.poke 2
pop temp 0
push constant 20113
push constant 0
call Memory.poke 2
pop temp 0
push constant 20114
push constant 0
call Memory.poke 2
pop temp 0
push constant 20115
push constant 0
call Memory.poke 2
pop temp 0
push constant 20116
push constant 0
call Memory.poke 2
pop temp 0
push constant 20117
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20139
push constant 7
call Memory.poke 2
pop temp 0
push constant 20140
push constant 0
call Memory.poke 2
pop temp 0
push constant 20141
push constant 0
call Memory.poke 2
pop temp 0
push constant 20142
push constant 0
call Memory.poke 2
pop temp 0
push constant 20143
push constant 0
call Memory.poke 2
pop temp 0
push constant 20144
push constant 0
call Memory.poke 2
pop temp 0
push constant 20145
push constant 0
call Memory.poke 2
pop temp 0
push constant 20146
push constant 0
call Memory.poke 2
pop temp 0
push constant 20147
push constant 0
call Memory.poke 2
pop temp 0
push constant 20148
push constant 0
call Memory.poke 2
pop temp 0
push constant 20149
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20171
push constant 7
call Memory.poke 2
pop temp 0
push constant 20172
push constant 0
call Memory.poke 2
pop temp 0
push constant 20173
push constant 0
call Memory.poke 2
pop temp 0
push constant 20174
push constant 0
call Memory.poke 2
pop temp 0
push constant 20175
push constant 0
call Memory.poke 2
pop temp 0
push constant 20176
push constant 0
call Memory.poke 2
pop temp 0
push constant 20177
push constant 0
call Memory.poke 2
pop temp 0
push constant 20178
push constant 0
call Memory.poke 2
pop temp 0
push constant 20179
push constant 8
call Memory.poke 2
pop temp 0
push constant 20180
push constant 0
call Memory.poke 2
pop temp 0
push constant 20181
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20203
push constant 7
call Memory.poke 2
pop temp 0
push constant 20204
push constant 0
call Memory.poke 2
pop temp 0
push constant 20205
push constant 0
call Memory.poke 2
pop temp 0
push constant 20206
push constant 0
call Memory.poke 2
pop temp 0
push constant 20207
push constant 0
call Memory.poke 2
pop temp 0
push constant 20208
push constant 0
call Memory.poke 2
pop temp 0
push constant 20209
push constant 0
call Memory.poke 2
pop temp 0
push constant 20210
push constant 7
call Memory.poke 2
pop temp 0
push constant 20211
push constant 60
call Memory.poke 2
pop temp 0
push constant 20212
push constant 0
call Memory.poke 2
pop temp 0
push constant 20213
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20235
push constant 7
call Memory.poke 2
pop temp 0
push constant 20236
push constant 0
call Memory.poke 2
pop temp 0
push constant 20237
push constant 0
call Memory.poke 2
pop temp 0
push constant 20238
push constant 0
call Memory.poke 2
pop temp 0
push constant 20239
push constant 0
call Memory.poke 2
pop temp 0
push constant 20240
push constant 0
call Memory.poke 2
pop temp 0
push constant 20241
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20242
push constant 7175
call Memory.poke 2
pop temp 0
push constant 20243
push constant 62
call Memory.poke 2
pop temp 0
push constant 20244
push constant 0
call Memory.poke 2
pop temp 0
push constant 20245
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20267
push constant 7
call Memory.poke 2
pop temp 0
push constant 20268
push constant 0
call Memory.poke 2
pop temp 0
push constant 20269
push constant 0
call Memory.poke 2
pop temp 0
push constant 20270
push constant 0
call Memory.poke 2
pop temp 0
push constant 20271
push constant 0
call Memory.poke 2
pop temp 0
push constant 20272
push constant 0
call Memory.poke 2
pop temp 0
push constant 20273
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20274
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20275
push constant 62
call Memory.poke 2
pop temp 0
push constant 20276
push constant 0
call Memory.poke 2
pop temp 0
push constant 20277
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20299
push constant 7
call Memory.poke 2
pop temp 0
push constant 20300
push constant 0
call Memory.poke 2
pop temp 0
push constant 20301
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20302
push constant 15
call Memory.poke 2
pop temp 0
push constant 20303
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20304
push constant 63
call Memory.poke 2
pop temp 0
push constant 20305
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20306
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20307
push constant 30
call Memory.poke 2
pop temp 0
push constant 20308
push constant 0
call Memory.poke 2
pop temp 0
push constant 20309
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20331
push constant 7
call Memory.poke 2
pop temp 0
push constant 20332
push constant 0
call Memory.poke 2
pop temp 0
push constant 20333
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20334
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 20335
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20336
push constant 255
call Memory.poke 2
pop temp 0
push constant 20337
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20338
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20339
push constant 30
call Memory.poke 2
pop temp 0
push constant 20340
push constant 0
call Memory.poke 2
pop temp 0
push constant 20341
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20363
push constant 7
call Memory.poke 2
pop temp 0
push constant 20364
push constant 0
call Memory.poke 2
pop temp 0
push constant 20365
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 20366
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 20367
push constant 4093
neg
call Memory.poke 2
pop temp 0
push constant 20368
push constant 1023
call Memory.poke 2
pop temp 0
push constant 20369
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20370
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20371
push constant 30
call Memory.poke 2
pop temp 0
push constant 20372
push constant 0
call Memory.poke 2
pop temp 0
push constant 20373
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20395
push constant 7
call Memory.poke 2
pop temp 0
push constant 20396
push constant 0
call Memory.poke 2
pop temp 0
push constant 20397
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 20398
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 20399
push constant 2045
neg
call Memory.poke 2
pop temp 0
push constant 20400
push constant 1023
call Memory.poke 2
pop temp 0
push constant 20401
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20402
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20403
push constant 30
call Memory.poke 2
pop temp 0
push constant 20404
push constant 0
call Memory.poke 2
pop temp 0
push constant 20405
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20427
push constant 7
call Memory.poke 2
pop temp 0
push constant 20428
push constant 0
call Memory.poke 2
pop temp 0
push constant 20429
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 20430
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 20431
push constant 1021
neg
call Memory.poke 2
pop temp 0
push constant 20432
push constant 2017
call Memory.poke 2
pop temp 0
push constant 20433
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20434
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20435
push constant 30
call Memory.poke 2
pop temp 0
push constant 20436
push constant 0
call Memory.poke 2
pop temp 0
push constant 20437
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20459
push constant 7
call Memory.poke 2
pop temp 0
push constant 20460
push constant 0
call Memory.poke 2
pop temp 0
push constant 20461
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 20462
push constant 0
call Memory.poke 2
pop temp 0
push constant 20463
push constant 32256
call Memory.poke 2
pop temp 0
push constant 20464
push constant 3968
call Memory.poke 2
pop temp 0
push constant 20465
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20466
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20467
push constant 30
call Memory.poke 2
pop temp 0
push constant 20468
push constant 0
call Memory.poke 2
pop temp 0
push constant 20469
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20491
push constant 7
call Memory.poke 2
pop temp 0
push constant 20492
push constant 0
call Memory.poke 2
pop temp 0
push constant 20493
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 20494
push constant 0
call Memory.poke 2
pop temp 0
push constant 20495
push constant 7680
call Memory.poke 2
pop temp 0
push constant 20496
push constant 3968
call Memory.poke 2
pop temp 0
push constant 20497
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20498
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20499
push constant 30
call Memory.poke 2
pop temp 0
push constant 20500
push constant 0
call Memory.poke 2
pop temp 0
push constant 20501
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20523
push constant 7
call Memory.poke 2
pop temp 0
push constant 20524
push constant 0
call Memory.poke 2
pop temp 0
push constant 20525
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 20526
push constant 0
call Memory.poke 2
pop temp 0
push constant 20527
push constant 15872
call Memory.poke 2
pop temp 0
push constant 20528
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20529
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20530
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20531
push constant 30
call Memory.poke 2
pop temp 0
push constant 20532
push constant 0
call Memory.poke 2
pop temp 0
push constant 20533
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20555
push constant 7
call Memory.poke 2
pop temp 0
push constant 20556
push constant 0
call Memory.poke 2
pop temp 0
push constant 20557
push constant 30720
call Memory.poke 2
pop temp 0
push constant 20558
push constant 0
call Memory.poke 2
pop temp 0
push constant 20559
push constant 15872
call Memory.poke 2
pop temp 0
push constant 20560
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20561
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20562
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20563
push constant 30
call Memory.poke 2
pop temp 0
push constant 20564
push constant 0
call Memory.poke 2
pop temp 0
push constant 20565
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20587
push constant 7
call Memory.poke 2
pop temp 0
push constant 20588
push constant 0
call Memory.poke 2
pop temp 0
push constant 20589
push constant 30720
call Memory.poke 2
pop temp 0
push constant 20590
push constant 0
call Memory.poke 2
pop temp 0
push constant 20591
push constant 15360
call Memory.poke 2
pop temp 0
push constant 20592
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20593
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20594
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20595
push constant 30
call Memory.poke 2
pop temp 0
push constant 20596
push constant 0
call Memory.poke 2
pop temp 0
push constant 20597
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20619
push constant 7
call Memory.poke 2
pop temp 0
push constant 20620
push constant 0
call Memory.poke 2
pop temp 0
push constant 20621
push constant 31744
call Memory.poke 2
pop temp 0
push constant 20622
push constant 0
call Memory.poke 2
pop temp 0
push constant 20623
push constant 15360
call Memory.poke 2
pop temp 0
push constant 20624
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20625
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20626
push constant 7687
call Memory.poke 2
pop temp 0
push constant 20627
push constant 62
call Memory.poke 2
pop temp 0
push constant 20628
push constant 0
call Memory.poke 2
pop temp 0
push constant 20629
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20651
push constant 7
call Memory.poke 2
pop temp 0
push constant 20652
push constant 0
call Memory.poke 2
pop temp 0
push constant 20653
push constant 31744
call Memory.poke 2
pop temp 0
push constant 20654
push constant 0
call Memory.poke 2
pop temp 0
push constant 20655
push constant 14336
call Memory.poke 2
pop temp 0
push constant 20656
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20657
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20658
push constant 7683
call Memory.poke 2
pop temp 0
push constant 20659
push constant 62
call Memory.poke 2
pop temp 0
push constant 20660
push constant 0
call Memory.poke 2
pop temp 0
push constant 20661
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20683
push constant 7
call Memory.poke 2
pop temp 0
push constant 20684
push constant 0
call Memory.poke 2
pop temp 0
push constant 20685
push constant 15360
call Memory.poke 2
pop temp 0
push constant 20686
push constant 0
call Memory.poke 2
pop temp 0
push constant 20687
push constant 0
call Memory.poke 2
pop temp 0
push constant 20688
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20689
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20690
push constant 7683
call Memory.poke 2
pop temp 0
push constant 20691
push constant 60
call Memory.poke 2
pop temp 0
push constant 20692
push constant 0
call Memory.poke 2
pop temp 0
push constant 20693
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20715
push constant 7
call Memory.poke 2
pop temp 0
push constant 20716
push constant 0
call Memory.poke 2
pop temp 0
push constant 20717
push constant 1024
neg
call Memory.poke 2
pop temp 0
push constant 20718
push constant 7
call Memory.poke 2
pop temp 0
push constant 20719
push constant 0
call Memory.poke 2
pop temp 0
push constant 20720
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20721
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20722
push constant 7683
call Memory.poke 2
pop temp 0
push constant 20723
push constant 60
call Memory.poke 2
pop temp 0
push constant 20724
push constant 0
call Memory.poke 2
pop temp 0
push constant 20725
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20747
push constant 7
call Memory.poke 2
pop temp 0
push constant 20748
push constant 0
call Memory.poke 2
pop temp 0
push constant 20749
push constant 1024
neg
call Memory.poke 2
pop temp 0
push constant 20750
push constant 63
call Memory.poke 2
pop temp 0
push constant 20751
push constant 0
call Memory.poke 2
pop temp 0
push constant 20752
push constant 3840
call Memory.poke 2
pop temp 0
push constant 20753
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20754
push constant 7683
call Memory.poke 2
pop temp 0
push constant 20755
push constant 60
call Memory.poke 2
pop temp 0
push constant 20756
push constant 0
call Memory.poke 2
pop temp 0
push constant 20757
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20779
push constant 7
call Memory.poke 2
pop temp 0
push constant 20780
push constant 0
call Memory.poke 2
pop temp 0
push constant 20781
push constant 1024
neg
call Memory.poke 2
pop temp 0
push constant 20782
push constant 255
call Memory.poke 2
pop temp 0
push constant 20783
push constant 0
call Memory.poke 2
pop temp 0
push constant 20784
push constant 3968
call Memory.poke 2
pop temp 0
push constant 20785
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20786
push constant 7683
call Memory.poke 2
pop temp 0
push constant 20787
push constant 60
call Memory.poke 2
pop temp 0
push constant 20788
push constant 0
call Memory.poke 2
pop temp 0
push constant 20789
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20811
push constant 7
call Memory.poke 2
pop temp 0
push constant 20812
push constant 0
call Memory.poke 2
pop temp 0
push constant 20813
push constant 1024
neg
call Memory.poke 2
pop temp 0
push constant 20814
push constant 1023
call Memory.poke 2
pop temp 0
push constant 20815
push constant 0
call Memory.poke 2
pop temp 0
push constant 20816
push constant 4032
call Memory.poke 2
pop temp 0
push constant 20817
push constant 32767
neg
push constant 1
sub
call Memory.poke 2
pop temp 0
push constant 20818
push constant 7939
call Memory.poke 2
pop temp 0
push constant 20819
push constant 60
call Memory.poke 2
pop temp 0
push constant 20820
push constant 0
call Memory.poke 2
pop temp 0
push constant 20821
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20843
push constant 7
call Memory.poke 2
pop temp 0
push constant 20844
push constant 0
call Memory.poke 2
pop temp 0
push constant 20845
push constant 31744
call Memory.poke 2
pop temp 0
push constant 20846
push constant 2044
call Memory.poke 2
pop temp 0
push constant 20847
push constant 0
call Memory.poke 2
pop temp 0
push constant 20848
push constant 1984
call Memory.poke 2
pop temp 0
push constant 20849
push constant 0
call Memory.poke 2
pop temp 0
push constant 20850
push constant 7936
call Memory.poke 2
pop temp 0
push constant 20851
push constant 56
call Memory.poke 2
pop temp 0
push constant 20852
push constant 0
call Memory.poke 2
pop temp 0
push constant 20853
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20875
push constant 7
call Memory.poke 2
pop temp 0
push constant 20876
push constant 0
call Memory.poke 2
pop temp 0
push constant 20877
push constant 30720
call Memory.poke 2
pop temp 0
push constant 20878
push constant 4064
call Memory.poke 2
pop temp 0
push constant 20879
push constant 0
call Memory.poke 2
pop temp 0
push constant 20880
push constant 992
call Memory.poke 2
pop temp 0
push constant 20881
push constant 0
call Memory.poke 2
pop temp 0
push constant 20882
push constant 3584
call Memory.poke 2
pop temp 0
push constant 20883
push constant 0
call Memory.poke 2
pop temp 0
push constant 20884
push constant 0
call Memory.poke 2
pop temp 0
push constant 20885
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20907
push constant 7
call Memory.poke 2
pop temp 0
push constant 20908
push constant 0
call Memory.poke 2
pop temp 0
push constant 20909
push constant 0
call Memory.poke 2
pop temp 0
push constant 20910
push constant 8064
call Memory.poke 2
pop temp 0
push constant 20911
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20912
push constant 1008
call Memory.poke 2
pop temp 0
push constant 20913
push constant 0
call Memory.poke 2
pop temp 0
push constant 20914
push constant 0
call Memory.poke 2
pop temp 0
push constant 20915
push constant 0
call Memory.poke 2
pop temp 0
push constant 20916
push constant 0
call Memory.poke 2
pop temp 0
push constant 20917
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20939
push constant 7
call Memory.poke 2
pop temp 0
push constant 20940
push constant 0
call Memory.poke 2
pop temp 0
push constant 20941
push constant 0
call Memory.poke 2
pop temp 0
push constant 20942
push constant 7936
call Memory.poke 2
pop temp 0
push constant 20943
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 20944
push constant 511
call Memory.poke 2
pop temp 0
push constant 20945
push constant 0
call Memory.poke 2
pop temp 0
push constant 20946
push constant 0
call Memory.poke 2
pop temp 0
push constant 20947
push constant 0
call Memory.poke 2
pop temp 0
push constant 20948
push constant 0
call Memory.poke 2
pop temp 0
push constant 20949
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 20971
push constant 7
call Memory.poke 2
pop temp 0
push constant 20972
push constant 0
call Memory.poke 2
pop temp 0
push constant 20973
push constant 0
call Memory.poke 2
pop temp 0
push constant 20974
push constant 15872
call Memory.poke 2
pop temp 0
push constant 20975
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 20976
push constant 255
call Memory.poke 2
pop temp 0
push constant 20977
push constant 16384
neg
call Memory.poke 2
pop temp 0
push constant 20978
push constant 512
call Memory.poke 2
pop temp 0
push constant 20979
push constant 12
call Memory.poke 2
pop temp 0
push constant 20980
push constant 0
call Memory.poke 2
pop temp 0
push constant 20981
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21003
push constant 7
call Memory.poke 2
pop temp 0
push constant 21004
push constant 0
call Memory.poke 2
pop temp 0
push constant 21005
push constant 0
call Memory.poke 2
pop temp 0
push constant 21006
push constant 15872
call Memory.poke 2
pop temp 0
push constant 21007
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21008
push constant 127
call Memory.poke 2
pop temp 0
push constant 21009
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21010
push constant 3843
call Memory.poke 2
pop temp 0
push constant 21011
push constant 62
call Memory.poke 2
pop temp 0
push constant 21012
push constant 0
call Memory.poke 2
pop temp 0
push constant 21013
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21035
push constant 7
call Memory.poke 2
pop temp 0
push constant 21036
push constant 0
call Memory.poke 2
pop temp 0
push constant 21037
push constant 0
call Memory.poke 2
pop temp 0
push constant 21038
push constant 15360
call Memory.poke 2
pop temp 0
push constant 21039
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21040
push constant 63
call Memory.poke 2
pop temp 0
push constant 21041
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 21042
push constant 3971
call Memory.poke 2
pop temp 0
push constant 21043
push constant 63
call Memory.poke 2
pop temp 0
push constant 21044
push constant 0
call Memory.poke 2
pop temp 0
push constant 21045
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21067
push constant 7
call Memory.poke 2
pop temp 0
push constant 21068
push constant 0
call Memory.poke 2
pop temp 0
push constant 21069
push constant 0
call Memory.poke 2
pop temp 0
push constant 21070
push constant 16128
call Memory.poke 2
pop temp 0
push constant 21071
push constant 1024
neg
call Memory.poke 2
pop temp 0
push constant 21072
push constant 2559
call Memory.poke 2
pop temp 0
push constant 21073
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21074
push constant 3971
call Memory.poke 2
pop temp 0
push constant 21075
push constant 63
call Memory.poke 2
pop temp 0
push constant 21076
push constant 0
call Memory.poke 2
pop temp 0
push constant 21077
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21099
push constant 7
call Memory.poke 2
pop temp 0
push constant 21100
push constant 0
call Memory.poke 2
pop temp 0
push constant 21101
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 21102
push constant 16383
call Memory.poke 2
pop temp 0
push constant 21103
push constant 1024
neg
call Memory.poke 2
pop temp 0
push constant 21104
push constant 16383
call Memory.poke 2
pop temp 0
push constant 21105
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21106
push constant 3971
call Memory.poke 2
pop temp 0
push constant 21107
push constant 62
call Memory.poke 2
pop temp 0
push constant 21108
push constant 0
call Memory.poke 2
pop temp 0
push constant 21109
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21131
push constant 7
call Memory.poke 2
pop temp 0
push constant 21132
push constant 0
call Memory.poke 2
pop temp 0
push constant 21133
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21134
push constant 8191
call Memory.poke 2
pop temp 0
push constant 21135
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21136
push constant 16381
call Memory.poke 2
pop temp 0
push constant 21137
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 21138
push constant 3843
call Memory.poke 2
pop temp 0
push constant 21139
push constant 28
call Memory.poke 2
pop temp 0
push constant 21140
push constant 0
call Memory.poke 2
pop temp 0
push constant 21141
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21163
push constant 7
call Memory.poke 2
pop temp 0
push constant 21164
push constant 0
call Memory.poke 2
pop temp 0
push constant 21165
push constant 2048
neg
call Memory.poke 2
pop temp 0
push constant 21166
push constant 8191
call Memory.poke 2
pop temp 0
push constant 21167
push constant 28672
call Memory.poke 2
pop temp 0
push constant 21168
push constant 16376
call Memory.poke 2
pop temp 0
push constant 21169
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21170
push constant 3
call Memory.poke 2
pop temp 0
push constant 21171
push constant 0
call Memory.poke 2
pop temp 0
push constant 21172
push constant 0
call Memory.poke 2
pop temp 0
push constant 21173
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21195
push constant 7
call Memory.poke 2
pop temp 0
push constant 21196
push constant 0
call Memory.poke 2
pop temp 0
push constant 21197
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 21198
push constant 1023
call Memory.poke 2
pop temp 0
push constant 21199
push constant 0
call Memory.poke 2
pop temp 0
push constant 21200
push constant 7936
call Memory.poke 2
pop temp 0
push constant 21201
push constant 0
call Memory.poke 2
pop temp 0
push constant 21202
push constant 0
call Memory.poke 2
pop temp 0
push constant 21203
push constant 0
call Memory.poke 2
pop temp 0
push constant 21204
push constant 0
call Memory.poke 2
pop temp 0
push constant 21205
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21227
push constant 7
call Memory.poke 2
pop temp 0
push constant 21228
push constant 0
call Memory.poke 2
pop temp 0
push constant 21229
push constant 0
call Memory.poke 2
pop temp 0
push constant 21230
push constant 0
call Memory.poke 2
pop temp 0
push constant 21231
push constant 0
call Memory.poke 2
pop temp 0
push constant 21232
push constant 0
call Memory.poke 2
pop temp 0
push constant 21233
push constant 0
call Memory.poke 2
pop temp 0
push constant 21234
push constant 0
call Memory.poke 2
pop temp 0
push constant 21235
push constant 0
call Memory.poke 2
pop temp 0
push constant 21236
push constant 0
call Memory.poke 2
pop temp 0
push constant 21237
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21259
push constant 7
call Memory.poke 2
pop temp 0
push constant 21260
push constant 0
call Memory.poke 2
pop temp 0
push constant 21261
push constant 0
call Memory.poke 2
pop temp 0
push constant 21262
push constant 0
call Memory.poke 2
pop temp 0
push constant 21263
push constant 0
call Memory.poke 2
pop temp 0
push constant 21264
push constant 0
call Memory.poke 2
pop temp 0
push constant 21265
push constant 0
call Memory.poke 2
pop temp 0
push constant 21266
push constant 0
call Memory.poke 2
pop temp 0
push constant 21267
push constant 0
call Memory.poke 2
pop temp 0
push constant 21268
push constant 0
call Memory.poke 2
pop temp 0
push constant 21269
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21291
push constant 7
call Memory.poke 2
pop temp 0
push constant 21292
push constant 0
call Memory.poke 2
pop temp 0
push constant 21293
push constant 0
call Memory.poke 2
pop temp 0
push constant 21294
push constant 0
call Memory.poke 2
pop temp 0
push constant 21295
push constant 0
call Memory.poke 2
pop temp 0
push constant 21296
push constant 0
call Memory.poke 2
pop temp 0
push constant 21297
push constant 0
call Memory.poke 2
pop temp 0
push constant 21298
push constant 0
call Memory.poke 2
pop temp 0
push constant 21299
push constant 0
call Memory.poke 2
pop temp 0
push constant 21300
push constant 0
call Memory.poke 2
pop temp 0
push constant 21301
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21323
push constant 7
call Memory.poke 2
pop temp 0
push constant 21324
push constant 0
call Memory.poke 2
pop temp 0
push constant 21325
push constant 0
call Memory.poke 2
pop temp 0
push constant 21326
push constant 0
call Memory.poke 2
pop temp 0
push constant 21327
push constant 0
call Memory.poke 2
pop temp 0
push constant 21328
push constant 0
call Memory.poke 2
pop temp 0
push constant 21329
push constant 0
call Memory.poke 2
pop temp 0
push constant 21330
push constant 0
call Memory.poke 2
pop temp 0
push constant 21331
push constant 0
call Memory.poke 2
pop temp 0
push constant 21332
push constant 0
call Memory.poke 2
pop temp 0
push constant 21333
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21355
push constant 7
call Memory.poke 2
pop temp 0
push constant 21356
push constant 0
call Memory.poke 2
pop temp 0
push constant 21357
push constant 0
call Memory.poke 2
pop temp 0
push constant 21358
push constant 0
call Memory.poke 2
pop temp 0
push constant 21359
push constant 0
call Memory.poke 2
pop temp 0
push constant 21360
push constant 0
call Memory.poke 2
pop temp 0
push constant 21361
push constant 0
call Memory.poke 2
pop temp 0
push constant 21362
push constant 0
call Memory.poke 2
pop temp 0
push constant 21363
push constant 0
call Memory.poke 2
pop temp 0
push constant 21364
push constant 0
call Memory.poke 2
pop temp 0
push constant 21365
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21387
push constant 7
call Memory.poke 2
pop temp 0
push constant 21388
push constant 0
call Memory.poke 2
pop temp 0
push constant 21389
push constant 0
call Memory.poke 2
pop temp 0
push constant 21390
push constant 0
call Memory.poke 2
pop temp 0
push constant 21391
push constant 0
call Memory.poke 2
pop temp 0
push constant 21392
push constant 0
call Memory.poke 2
pop temp 0
push constant 21393
push constant 0
call Memory.poke 2
pop temp 0
push constant 21394
push constant 0
call Memory.poke 2
pop temp 0
push constant 21395
push constant 0
call Memory.poke 2
pop temp 0
push constant 21396
push constant 0
call Memory.poke 2
pop temp 0
push constant 21397
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21419
push constant 7
call Memory.poke 2
pop temp 0
push constant 21420
push constant 0
call Memory.poke 2
pop temp 0
push constant 21421
push constant 0
call Memory.poke 2
pop temp 0
push constant 21422
push constant 0
call Memory.poke 2
pop temp 0
push constant 21423
push constant 0
call Memory.poke 2
pop temp 0
push constant 21424
push constant 0
call Memory.poke 2
pop temp 0
push constant 21425
push constant 0
call Memory.poke 2
pop temp 0
push constant 21426
push constant 0
call Memory.poke 2
pop temp 0
push constant 21427
push constant 0
call Memory.poke 2
pop temp 0
push constant 21428
push constant 0
call Memory.poke 2
pop temp 0
push constant 21429
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21451
push constant 7
call Memory.poke 2
pop temp 0
push constant 21452
push constant 0
call Memory.poke 2
pop temp 0
push constant 21453
push constant 0
call Memory.poke 2
pop temp 0
push constant 21454
push constant 0
call Memory.poke 2
pop temp 0
push constant 21455
push constant 0
call Memory.poke 2
pop temp 0
push constant 21456
push constant 0
call Memory.poke 2
pop temp 0
push constant 21457
push constant 0
call Memory.poke 2
pop temp 0
push constant 21458
push constant 0
call Memory.poke 2
pop temp 0
push constant 21459
push constant 0
call Memory.poke 2
pop temp 0
push constant 21460
push constant 0
call Memory.poke 2
pop temp 0
push constant 21461
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21483
push constant 7
call Memory.poke 2
pop temp 0
push constant 21484
push constant 0
call Memory.poke 2
pop temp 0
push constant 21485
push constant 0
call Memory.poke 2
pop temp 0
push constant 21486
push constant 0
call Memory.poke 2
pop temp 0
push constant 21487
push constant 0
call Memory.poke 2
pop temp 0
push constant 21488
push constant 0
call Memory.poke 2
pop temp 0
push constant 21489
push constant 0
call Memory.poke 2
pop temp 0
push constant 21490
push constant 0
call Memory.poke 2
pop temp 0
push constant 21491
push constant 0
call Memory.poke 2
pop temp 0
push constant 21492
push constant 0
call Memory.poke 2
pop temp 0
push constant 21493
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 21515
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21516
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21517
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21518
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21519
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21520
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21521
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21522
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21523
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21524
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21525
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21547
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21548
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21549
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21550
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21551
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21552
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21553
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21554
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21555
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21556
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21557
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21579
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21580
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21581
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21582
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21583
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21584
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21585
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21586
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21587
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21588
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 21589
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
