function PrevStep.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 4
pop this 3
push argument 3
pop this 4
push pointer 0
return
function PrevStep.X 0
push argument 0
pop pointer 0
push this 0
return
function PrevStep.Y 0
push argument 0
pop pointer 0
push this 1
return
function PrevStep.PrevBlock 0
push argument 0
pop pointer 0
push this 4
return
function PrevStep.Direction 0
push argument 0
pop pointer 0
push this 3
return
function PrevStep.PrevBox 0
push argument 0
pop pointer 0
push this 2
return
